@media 
{
img{
    width: 100%;}

.pullquote{
    font-family: "Lora", serif;
    font-weight: bold;
    color: darkred;

  }
#quote{
    font-size: 40px;
    text-align: center;
    }
    
 #attribution{
     font-size: 35px;
     font-style: italic;
     text-align: center; 
    }
#topper{
    background-image: url(headingimage.webp);
    background-size: cover;
    background-position: center;
    }

h1{
    margin: 500px 100px 0px 0px;
    color: white;
    font-family: "Lora", serif;
    font-weight: bold;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    
    
    }

h2{
    color: black;
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 30px;
    border-bottom:solid 2px darkred;
    margin: 0px 0px 20px 0px;
    padding-bottom: 25px;
    }
#caption1{ 
    color: #5d5b5b;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 15px;
 }
#author{
    font-size: 18px;
    font-family: "Lora", serif;
    font-weight: bold;
    color: darkred;
}
#date{
    font-size: 18px;
    font-family: "Lora", serif;
    font-weight: bold;
    color: darkred;
}
#bodytext{
    width: 100%;
    margin: auto; 
    font-family: "Lora", serif;

}
#disclaimer {
    font-style: italic;
    font-size: 14px; 
}

h3{
    font-family: "Lora", serif;
    font-weight: bold;

    
}

#photocaptions{
    color: #5d5b5b;
    font-size: 11px; 
    
}
    

@media (min-width:576px){
    #bodytext{
        width:60%; 
    }
    h1{
        font-size: 65px;
    }
    }
