@media 
{
img{
    width: 100%;}

#topper{
    background-image: url(headingimage.webp);
    background-size: cover;}

h1{
    margin: 0px 0px 400px 0px;
    color: white;
    font-family: "Lora", serif;
    font-weight: bold;}

h2{
    color: white;
    font-family: "Lora", serif;
    font-style: italic;}
#caption1{ 
    color: #5d5b5b;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 15px;
 }
#author{
    font-size: 25px;
    font-family: "Lora", serif;
    font-weight: bold;
}
#date{
    font-size: 25px;
    font-family: "Lora", serif;
    font-weight: bold;
    color: #5d5b5b;
}
#bodytext{
    width: 700px;
    margin: auto; 

}
#disclaimer {
    font-style: italic;
    font-size: 14px; 
}

h3{
    font-family: "Lora", serif;
    font-weight: bold;
    
}

#photocaptions{
    color: #5d5b5b;
    font-size: 11px; 
}
@media (min-width:576px)
    
}
