@media {

#headshot{
    width:300px;
    float:none;
    margin-right: 20px;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}
#contact a{
    font-weight:bold;
    color: black;
    font-size:20px;
}

#contact a:hover{color:red;}

#info{
    width:100%;
    margin: auto;
}
#info{width:700px;
margin:auto;}
    
#footer{
     position: fixed;
     bottom:0;
    left:0;
    background-color: coral;
    padding:10px;
    width:100%
    }
    


}

@media (min-width:576px) {
    #info {width:700px;}
    #headshot{float:left;}
    
}