h1{
    font-family: "Jost"; font-size: 90px
}


h2{font-family: "Quicksand"; font-size: 35px;
    
}

img{ 

width: 350px;}

body {background-color: #e7dfd8;
    
}

button {background-color: #568b68; font-family: "Jost";font-size: 30px;border-radius: 15px; width: 200px;padding: 10px; margin: 50px;border: none;
}